<!--Put these in one container with the img background-->
<header class="contactHead">
    <div class=headGrid>
      <!--Logo-->
      <div class=logo>
        <img width="280" alt="Stonehaven Logo" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5890acdc59cc68806c8e7162/1527083687257/?format=1500w">
      </div>
  
      <!--Links-->
      <ul>
        <li>
          <a routerLink="/app-home">Home </a>
        </li>
        <li>
          <a routerLink="/app-aboutUs"> About Us </a>
        </li>
        <li>
          <a routerLink="/app-ourPractices"> Our Practices </a>
        </li>
        <li>
          <a routerLink="/app-contact"> Contact </a>
        </li>
      </ul>
    </div>
  
    <div class=pageTitle>
      <h1>THE PEOPLE YOU NEED. TO FIND THE PEOPLE YOU NEED.</h1>
    </div>
  </header>
  
  <!--Put the following in perhaps a body container with the eggshell background-->
  <body>
  <h2 class=subtitle>WE'RE A BUSINESS PARTNER WITH THE EXPERTISE TO HELP SHAPE OPINION, THE JUDGEMENT TO CREATE PERSPECTIVE AND THE CONFIDENCE TO CHALLENGE THINKING AT EVERY LEVEL.</h2>
  <h3>We look forward to working with you.</h3>
  
  <div class=caption>
    <p class="bold">LONDON - </p><p> 11-15 Farm Street London W1J 5RG   Tel: +44 (0) 20 7569 1300</p>
  </div>

<!--The div element for the map -->
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
</script>

  <div class=caption>
    <p class="bold">NEW YORK - </p><p> Floor 12, 300 Park Ave. New York NY 10022   Tel: +1 917 809 8137</p>
  </div>

MAP OF NEW YORK

  <div class="goHome">
      <a routerLink="/app-home">Home</a>
  </div>
  </body>
  