<router-outlet></router-outlet>

<!--Footer-->

<footer>
  <div class="footGrid">
    <div class="address">
      <h2>London</h2>
      <p>11-15 Farm Street, London W1J 5RG</p>
      <p>Tel: +44 (0) 20 7569 1300</p>
    </div>
    <div class="address">
      <h2>New York</h2>
      <p>Floor 12, 300 Park Ave. New York NY 10022</p>
      <p>Tel: +1 917 809 8137</p>
    </div>
  </div>

  <p class="copyright">© STONEHAVEN INTERNATIONAL  |  <a routerLink="">info@stonhaveninternational.com</a>  |  
    <a routerLink="">Privacy Policy</a></p>
  <p>For more information on our Sister Company Stonehaven UK please visit <a routerLink="">stonehaven.uk.com</a></p>
  <p>Site created by <a routerLink="">The Table London</a></p>

  <br/>

</footer>