<!--Put these in one container with the img background-->
<header class="ourPracticesHead">
    <div class=headGrid>
      <!--Logo-->
      <div class=logo>
        <img width="280" alt="Stonehaven Logo" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5890acdc59cc68806c8e7162/1527083687257/?format=1500w">
      </div>
  
      <!--Links-->
      <ul>
        <li>
          <a routerLink="/app-home">Home </a>
        </li>
        <li>
          <a routerLink="/app-aboutUs"> About Us </a>
        </li>
        <li>
          <a routerLink="/app-ourPractices"> Our Practices </a>
        </li>
        <li>
          <a routerLink="/app-contact"> Contact </a>
        </li>
      </ul>
    </div>
  
    <div class=pageTitle>
      <h1>ADDING TO THE BIGGER PICTURE. NOT JUST THE BOTTOM LINE.</h1>
    </div>
</header>
  
  <!--Put the following in perhaps a body container with the eggshell background-->
<body>
  <h2 class=subtitle>PUT OUR EXPERTISE TO WORK FOR YOUR BUSINESS.</h2>
  <p class="bio">Our practices span Board, Financial Services, Industrial, Retail & Commercial Markets, Digital and Technology, Professional Services and Not For Profit. They combine deep sector knowledge and experience with a defining track record. Our Board practice is sector agnostic with a well-established history of working with leading listed and non-listed entities.</p>
  
  <div class="grid">
    <div class="box">
      <div class="imgContainer">
        <img alt="Board picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/588f74f05016e1c481e82081/1486548288627/?format=500w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Board</h3></a>
      <p>Support for your Chairman, CEO or leadership team in the development of a winning board.</p>
    </div>
  
    <div class="box">
      <div class="imgContainer">
        <img alt="Financial Services picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/587f5a076a49633c1be712a1/1486548299449/?format=300w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Financial Services</h3></a>
      <p>Our in-depth knowledge of global finance enables us to consistently attract the very best talent.</p>
    </div>
  
    <div class="box">
      <div class="imgContainer">
        <img alt="Industrial, retail and commercial picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/588f7318be6594e47d257f6e/1486548512673/?format=500w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Industrial, Retail & Commercial</h3></a>
      <p>Executive search, leadership and talent consultancy for industrial and commercial markets. </p>
    </div>

    <div class="box">
      <div class="imgContainer">
        <img alt="Digital and Technology picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/589866e329687ff9f4d43f9f/1486548279829/?format=500w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Digital & Technology</h3></a>
      <p>The Digital and Technology agenda is central to transforming the business landscape for a sustainable future.</p>
    </div>

    <div class="box">
      <div class="imgContainer">
        <img alt="Professional Services picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/58a1e5266b8f5b048e0e9736/1511196010127/?format=500w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Professional Services</h3></a>
      <p>Differentiation is not just through domain excellence, but through the quality of people.</p>
    </div>

    <div class="box">
      <div class="imgContainer">
        <img alt="Not for profit picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5889d98fbebafb85b35f25c0/1486548310770/?format=300w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Not for profit</h3></a>
      <p>Finding the people to foster long term and sustainable businesses, entities and propositions.</p>
    </div>

    <div class="box">
      <div class="imgContainer">
        <img alt="Functional Specialisation picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/58a1e5fbb3db2b39454f2b5c/1511196027691/?format=500w">
      </div>
      <a routerLink="/app-ourPractices" class="button"><h3>Functional Specialisation</h3></a>
      <p>Domain excellence anticipates, shapes, responds and delivers sustainable performance.</p>
    </div>
  </div>
</body>
  