<!--Put these in one container with the img background-->
<header class="homeHead">
  <div class=headGrid>
    <!--Logo-->
    <div class=logo>
      <img width="280" alt="Stonehaven Logo" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5890acdc59cc68806c8e7162/1527083687257/?format=1500w">
    </div>

    <!--Links-->
    <ul>
      <li>
        <a routerLink="/app-home">Home </a>
      </li>
      <li>
        <a routerLink="/app-aboutUs"> About Us </a>
      </li>
      <li>
        <a routerLink="/app-ourPractices"> Our Practices </a>
      </li>
      <li>
        <a routerLink="/app-contact"> Contact </a>
      </li>
    </ul>
  </div>

  <div class=pageTitle>
    <h1>Shape opinion.</h1>
    <h1>Create Perspective.</h1>
    <h1>Challenge thinking.</h1>
  </div>
</header>

<!--Put the following in perhaps a body container with the eggshell background-->
<body>
<h2 class=subtitle>Stonehaven. Delivering excellence in global executive search, talent and leadership consulting.</h2>
<p class="bio">A company driven by long-term partnership with clients and not by short-term fees. A business partner with the expertise to shape opinion, the judgement to create perspective and the confidence to challenge thinking at every level.</p>
<p class="bio">Welcome to Stonehaven.</p>

<div class="grid">
  <div class="box">
    <div class="imgContainer">
      <img alt="About Us picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5889cb659de4bb99f28c68df/1486548187448/ravwym3xk7y-adam-birkett.jpg?format=500w">
    </div>
    <h2>About Us</h2>
    <p>Identifying the next level of leadership to help you thrive. </p>
    <a routerLink="/app-aboutUs" class="button"><h3>Meet Our Team</h3></a>
  </div>

  <div class="box">
    <div class="imgContainer">
      <img alt="Our Practices picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/587e419e9de4bb54956f61c7/1486548179602/?format=750w">
    </div>
    <h2>Our Practices</h2>
  <p>Our practices span Board, Financial Services, Industrial, Retail and Commercial Markets, Digital and Technology, Professional Services and Not For Profit.</p>
  <a routerLink="/app-ourPractices" class="button"><h3>Discover More</h3></a>
  </div>

  <div class="box">
    <div class="imgContainer">
      <img alt="Contact picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/588f187017bffc6e42570fc0/1486548170848/?format=500w">
    </div>
    <h2>Contact</h2>
    <p>Our reach and expertise is global, with offices in London and New York.</p>
    <a routerLink="/app-contact" class="button"><h3>Let's talk</h3></a>
  </div>
</div>
</body>
