<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      
      <div class=paraImage>
        <img width="100%" alt="Home background" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/587f50873a041195650adbfb/1484738709874/Stonehaven_Search_HompageImage.jpg?format=2500w">
      </div>

    </div>
    <div class="parallax__layer parallax__layer--base">
<header class="homeHead">
  <div class=headGrid>
    <!--Logo-->
    <div class=logo>
      <img width="260" alt="Stonehaven Logo" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5890acdc59cc68806c8e7162/1527083687257/?format=1500w">
    </div>

    <!--Links-->
    <ul>
      <li>
        <a routerLink="/app-home">Home </a>
      </li>
      <li>
        <a routerLink="/app-aboutUs"> About Us </a>
      </li>
      <li>
        <a routerLink="/app-ourPractices"> Our Practices </a>
      </li>
      <li>
        <a routerLink="/app-contact"> Contact </a>
      </li>
    </ul>
  </div>

  <div class=pageTitle>
    <h1>Shape opinion.</h1>
    <h1>Create Perspective.</h1>
    <h1>Challenge thinking.</h1>
  </div>

  <div class="scrollButton">
    <img alt="Scroll Button" src="https://www.materialui.co/materialIcons/hardware/keyboard_arrow_down_white_192x192.png">
  </div>
</header>

<!--Put the following in perhaps a body container with the eggshell background-->
<body>
<h2 class=subtitle>Stonehaven. Delivering excellence in global executive search, talent and leadership consulting.</h2>
<p class="bio">A company driven by long-term partnership with clients and not by short-term fees. A business partner with the expertise to shape opinion, the judgement to create perspective and the confidence to challenge thinking at every level.</p>
<p class="bio">Welcome to Stonehaven.</p>

<div class="grid">
  <div class="box">
    <div class="imgContainer">
      <img alt="About Us picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/5889cb659de4bb99f28c68df/1486548187448/ravwym3xk7y-adam-birkett.jpg?format=500w">
    </div>
    <h2>About Us</h2>
    <p>Identifying the next level of leadership to help you thrive. </p>
    <a routerLink="/app-aboutUs" class="button"><h3>Meet Our Team</h3></a>
  </div>

  <div class="box">
    <div class="imgContainer">
      <img alt="Our Practices picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/587e419e9de4bb54956f61c7/1486548179602/?format=750w">
    </div>
    <h2>Our Practices</h2>
  <p>Our practices span Board, Financial Services, Industrial, Retail and Commercial Markets, Digital and Technology, Professional Services and Not For Profit.</p>
  <a routerLink="/app-ourPractices" class="button"><h3>Discover More</h3></a>
  </div>

  <div class="box">
    <div class="imgContainer">
      <img alt="Contact picture" src="https://static1.squarespace.com/static/587ce565ff7c50c9f5f58201/t/588f187017bffc6e42570fc0/1486548170848/?format=500w">
    </div>
    <h2>Contact</h2>
    <p>Our reach and expertise is global, with offices in London and New York.</p>
    <a routerLink="/app-contact" class="button"><h3>Let's talk</h3></a>
  </div>
</div>
</body>

<footer class="show">
  <div class="footGrid">
    <div class="address">
      <h2>London</h2>
      <p>11-15 Farm Street, London W1J 5RG</p>
      <p>Tel: +44 (0) 20 7569 1300</p>
    </div>
    <div class="address">
      <h2>New York</h2>
      <p>Floor 12, 300 Park Ave. New York NY 10022</p>
      <p>Tel: +1 917 809 8137</p>
    </div>
  </div>

  <p class="copyright">© STONEHAVEN INTERNATIONAL  |  <a routerLink="">info@stonhaveninternational.com</a>  |  
    <a routerLink="">Privacy Policy</a></p>
  <p>For more information on our Sister Company Stonehaven UK please visit <a routerLink="">stonehaven.uk.com</a></p>
  <p>Site created by <a routerLink="">The Table London</a></p>

  <br/>

</footer>

    </div>
  </div>
</div>